body {
  color: aqua;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  opacity: 1;
  background-image: radial-gradient(aqua 1px, transparent 1px), radial-gradient(aqua 1px, black 1px);
  background-size: 10rem 10rem;
  background-position: 0 0, 5rem 5rem;
  padding: 1rem;
}

#moonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2.5rem auto;
  border-radius: 50%;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 10rem rgba(0, 255, 255, .25);
  aspect-ratio: 1/1;
}

#moonShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 1);
  border-radius: 50%;
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
}

pre {
  text-align: center;
  font-size: .5vh;
  /* Adjust font size as needed */
  line-height: 1.425;
  /* Adjust line height as needed */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
}

h1 {
  padding-top: .5rem;
  border-top: solid rgba(0, 255, 255, .75);
  border-left: solid rgba(0, 255, 255, .75);
  background-color: black;
  max-width: 20rem;
  margin: 0 auto;
  font-weight: 900;
  letter-spacing: -.1rem;
}

#moonPhaseData {
  text-align: left;
  max-width: 20rem;
  margin: 0 auto;
  background-color: black;
  border: 2px white solid;
  padding: 1rem;
}

strong {
  color: white;
}

button {
  background-color: black;
  color: aqua;
  padding: .5rem;
  border-radius: 5%;
  border-top: solid rgba(0, 255, 255, .75);
  border-left: solid rgba(0, 255, 255, .75);
}

button:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
  cursor: pointer;
}

.button-group-tiny-screen {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 7rem 7rem;
    background-position: 0 0, 3.5rem 3.5rem;
  }

  pre {
    font-size: .35vh;
  }

}

@media only screen and (max-width: 350px) {
  body {
    background-size: 5rem 5rem;
    background-position: 0 0, 2.5rem 2.5rem;
  }

  pre {
    font-size: .3vh;
  }

  #moonPhaseData {
    padding: .5rem;
  }

  .button-group-tiny-screen {
    display: block;
  }


  .button-group {
    display: none;
  }

}