html {
  font-family: monospace;
  color: white;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 2vw;
  color: aqua;
  z-index: 11;
}

.textbox {
  float: left;
  position: absolute;
  top: 15vw;
  left: 5vw;
  z-index: 20;
}

#moon-data {
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2.5vw;
  border-radius: 1vw;
  animation: moon-data-grow 0.5s ease-out;
}

.next-full-moon {
  color: aqua !important;
}

@keyframes moon-data-grow {
  0% {
    transform: scaleX(0);
  }
  33% {
    transform: scaleX(0.33);
  }
  50% {
    transform: scaleX(0.5);
  }
  75% {
    transform: scaleX(0.75);
  }
  85% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.asciimoon {
  margin-top: 2.5vw;
  text-align: center;
  font-size: 0.5vw;
  transform: scaleX(0.85);
  position: relative;
  color: aqua;
  border-radius: 1vw;
}

#moon-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 75vw;
  padding: 5vw;
  width: 50vw;
  border-radius: 50%;
  z-index: 10;
  top: 2.5vw;
  visibility: hidden;
  animation: moon-cover 1.5s;
  clear: both;
  display: inline-block;
}

.moon-cover-container {
  clear: both;
  display: inline-block;
}

@keyframes moon-cover {
  from {
    width: 0vw;
  }
  to {
    width: 50vw;
  }
}

/* WAXING STAGES */

.waxing-ten-percent {
  left: 15vw;
  visibility: visible !important;
}

.waxing-twenty-percent {
  left: 10vw;
  visibility: visible !important;
}

.waxing-thirty-percent {
  left: 5vw;
  visibility: visible !important;
}

.waxing-fourty-percent {
  left: -0vw;
  visibility: visible !important;
}

.waxing-sixty-percent {
  left: -10vw;
  visibility: visible !important;
}

.waxing-seventy-percent {
  left: -15vw;
  visibility: visible !important;
}

.waxing-eighty-percent {
  left: -20vw;
  visibility: visible !important;
}

.waxing-ninety-percent {
  left: -25vw;
  visibility: visible !important;
}

/* WANING STAGES */

.waning-ten-percent {
  right: 15vw;
  visibility: visible !important;
}

.waning-twenty-percent {
  right: 10vw;
  visibility: visible !important;
}

.waning-thirty-percent {
  right: 5vw;
  visibility: visible !important;
}

.waning-fourty-percent {
  right: -0vw;
  visibility: visible !important;
}

.waning-sixty-percent {
  right: -10vw;
  visibility: visible !important;
}

.waning-seventy-percent {
  right: -15vw;
  visibility: visible !important;
}

.waning-eighty-percent {
  right: -20vw;
  visibility: visible !important;
}

.waning-ninety-percent {
  right: -25vw;
  visibility: visible !important;
}

/* MAIN PHASES OF MOON (FULL EXCLUDED AS FULL IS DEFAULT) */

.first-quarter {
  left: -5vw;
  visibility: visible !important;
}

.last-quarter {
  right: -5vw;
  visibility: visible !important;
}

.new-moon {
  right: 27vw;
  visibility: visible !important;
}

@media only screen and (max-width: 1200px) {
  .textbox {
    float: none;
    position: static;
    top: 0vw;
    left: 0vw;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 7.5vw;
  }

  .asciimoon {
    font-size: 0.75vw;
  }

  #moon-data {
    font-size: 5vw;
  }
}
