body {
  font-family: monospace;
  color: white;
  background-color: #000000;
  overflow: hidden;
}

a {
  color: rgba(175, 245, 255, .25);
}

.textbox {
  float: left;
  position: absolute;
  top: 15vw;
  left: 5vw;
  z-index: 20;
}

.title {
  font-weight: 700;
  font-size: 2vw;
  color: aqua;
}

.credits {
  color: rgba(175, 245, 255, .25);
  max-width: 33%;
  animation: credits-pop-in 4.5s ease-out;
}

@keyframes credits-pop-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#moon-data {
  font-size: 1vw;
  padding: 1.5vw;
  animation: moon-data-grow 1.5s ease-out;
}

@keyframes moon-data-grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.next-full-moon {
  color: aqua !important;
}


.asciimoon {
  margin-top: 2.5vw;
  text-align: center;
  font-size: 0.5vw;
  transform: scaleX(0.85);
  position: relative;
  color: aqua;
  border-radius: 1vw;
}

.moon-cover-container {
  overflow-x: hidden;

}

#moon-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 75vw;
  padding: 5vw;
  width: 50vw;
  border-radius: 50%;
  z-index: 10;
  top: 2.5vw;
  visibility: hidden;
  animation: moon-cover 1.5s;
  overflow-x: hidden;
}

@keyframes moon-cover {
  from {
    width: 0vw;
  }
  to {
    width: 50vw;
  }
}

/* WAXING STAGES */

.waxing-ten-percent {
  left: 15vw;
  visibility: visible !important;
}

.waxing-twenty-percent {
  left: 10vw;
  visibility: visible !important;
}

.waxing-thirty-percent {
  left: 5vw;
  visibility: visible !important;
}

.waxing-fourty-percent {
  left: -0vw;
  visibility: visible !important;
}

.waxing-sixty-percent {
  left: -10vw;
  visibility: visible !important;
}

.waxing-seventy-percent {
  left: -15vw;
  visibility: visible !important;
}

.waxing-eighty-percent {
  left: -20vw;
  visibility: visible !important;
}

.waxing-ninety-percent {
  left: -25vw;
  visibility: visible !important;
}

/* WANING STAGES */

.waning-ten-percent {
  right: 15vw;
  visibility: visible !important;
}

.waning-twenty-percent {
  right: 10vw;
  visibility: visible !important;
}

.waning-thirty-percent {
  right: 5vw;
  visibility: visible !important;
}

.waning-fourty-percent {
  right: -0vw;
  visibility: visible !important;
}

.waning-sixty-percent {
  right: -10vw;
  visibility: visible !important;
}

.waning-seventy-percent {
  right: -15vw;
  visibility: visible !important;
}

.waning-eighty-percent {
  right: -20vw;
  visibility: visible !important;
}

.waning-ninety-percent {
  right: -25vw;
  visibility: visible !important;
}

/* MAIN PHASES OF MOON (FULL EXCLUDED AS FULL IS DEFAULT) */

.first-quarter {
  left: -5vw;
  visibility: visible !important;
}

.last-quarter {
  right: -5vw;
  visibility: visible !important;
}

.new-moon {
  right: 20vw;
  visibility: visible !important;
}

/* 1200 MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .textbox-container {
    position: relative;
    z-index: 20;
  }

  .textbox {
    float: none;
    position: static;
    top: 0vw;
    left: 0vw;
    text-align: center;
  }

  .title {
    font-size: 5vw;
  }

  .credits {
    max-width: 50%;
  }
  

  #moon-cover {
    height: 75vw;
    width: 75vw;
  }

  @keyframes moon-cover {
    from {
      width: 0vw;
    }
    to {
      width: 75vw;
    }
  }

  #moon-data {
    font-size: 3vw;
  }

  /* WAXING STAGES */

  .waxing-ten-percent {
    left: 0vw;
  }

  .waxing-twenty-percent {
    left: -5vw;
  }

  .waxing-thirty-percent {
    left: -10vw;
  }

  .waxing-fourty-percent {
    left: -20vw;
  }

  .waxing-sixty-percent {
    left: -40vw;
  }

  .waxing-seventy-percent {
    left: -50vw;
  }

  .waxing-eighty-percent {
    left: -55vw;
  }

  .waxing-ninety-percent {
    left: -60vw;
  }

  /* WANING STAGES */

  .waning-ten-percent {
    right: 0vw;
  }

  .waning-twenty-percent {
    right: -5vw;
  }

  .waning-thirty-percent {
    right: -15vw;
  }

  .waning-fourty-percent {
    right: -25vw;
  }

  .waning-sixty-percent {
    right: -35vw;
  }

  .waning-seventy-percent {
    right: -45vw;
  }

  .waning-eighty-percent {
    right: -50vw;
  }

  .waning-ninety-percent {
    right: -60vw;
  }

  /* MAIN PHASES OF MOON (FULL EXCLUDED AS FULL IS DEFAULT) */

  .first-quarter {
    left: -30vw;
  }

  .last-quarter {
    right: -30vw;
  }

  .new-moon {
    right: 5vw;
  }
}

/* 600 MEDIA QUERY */

@media only screen and (max-width: 600px) {
  .title {
    font-size: 7.5vw;
  }

  .credits {
    max-width: 100%;
    text-align: left;
    margin: 5vw 1vw;
  }

  .asciimoon {
    font-size: 0.75vw;
  }

  #moon-data {
    font-size: 5vw;
  }
}
