---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="404 Page Not Found"
	description="This page was not found.  Please return to the home page."
	keywords=""
	canonicalURL="https://asciimoon.com/404"
	robots="noindex, follow"
>
	<main>
		<section class="not-found-page">
			<h1>404 Page Not Found</h1>
			<br/>
			<p>
				This page cannot be found. Please return to the <a href="/"  title="Go back to Home Page"
					>home page</a
				>.
			</p>
		</section>
	</main>
</Layout>

<style>

	.not-found-page {
		max-width: 928px;
		margin: 0 auto;
		height: 70vh;
	}
</style>
