---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About ASCIIMoon | Moon Phase Tracker"
  description="ASCIIMoon tracks the moon's phases and uses ASCII art to create a basic visual representation of the moon's current appearance based on light percentage."
  keywords="moon phases, ASCII moon, moon tracker, moon phase tracker, ASCII art, lunar phases, moon calendar, moon cycle, moon phase app, phase of the moon"
  canonicalURL="https://asciimoon.com/about"
  robots="index, follow"
>
  <main >
<h1>About ASCIIMoon</h1>
<p>ASCIIMoon is a small web app that tracks the moon's phases and uses <a href="https://en.wikipedia.org/wiki/ASCII_art" rel="nofollower noopener" target="_blank">ASCII art</a> to create a basic visual representation of the moon's current appearance based on light percentage.</p>
<p>This is a personal project, and is in no way a precise representation.</p>
<hr>
      <section>
        <h2 id="repo">Repo/Source Code</h2>
        <p>Here is the link to the GitHub repository and source code:</p>
        <a href="https://github.com/Sean-93/asciimoon" target="_blank"
          >https://github.com/Sean-93/asciimoon</a
        >
        <!-- BUY ME A COFFEE LINK -->
        <p>Find this library helpful or fun? <br/><a href="https://www.buymeacoffee.com/seanrooney" target="_blank"> ☕️ Buy me a coffee</a></p>
      </section>

  </main>
</Layout>

 <!-- JSON-LD SCHEMA-->
 <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "SoftwareApplication",
    "name": "ASCIIMoon",
    "headline": "About ASCIIMoon | Moon Phase Tracker",
    "description": "ASCIIMoon tracks the moon's phases and uses ASCII art to create a basic visual representation of the moon's current appearance based on light percentage.",
    "keywords": "moon phases, ASCII moon, moon tracker, moon phase tracker, ASCII art, lunar phases, moon calendar, moon cycle, moon phase app, phase of the moon",
    "author": { "@type": "Person", "name": "Sean Rooney" },
    "publisher": { "@type": "Person", "name": "Sean Rooney" },
   "datePublished": "2025-06-25T16:00:00-16:00",
    "url": "https://asciimoon.com/about",
    "mainEntityOfPage": "https://asciimoon.com/about",
    "robots": "index, follow",
    "operatingSystem": "Web-based",
    "applicationCategory": "Utility",
    "softwareVersion": "1.0"
  }
</script>
<style>
    main {
    max-width: 928px;
    margin: 0 auto;
    text-align: left;
  }
</style>