---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ASCIIMoon from "../components/ASCIIMoon.astro";
---

<Layout
  title="Moon Phase Tracker | Rendered in ASCII Art"
  description="ASCII Moon - view & cycle through The Moon's phases - rendered in ASCII art."
  keywords="moon phases, ASCII moon, moon tracker, moon phase tracker, ASCII art, lunar phases, moon calendar, moon cycle, moon phase app, phase of the moon"
  canonicalURL="https://asciimoon.com/"
  robots="index, follow"
>
<!-- NAVBAR -->
<Nav/>
  <main>
    <!-- H1 AND P TAG FOR DESC ARE IN THE <ASCIIMoon> ELEMENT -->
    <ASCIIMoon />
  </main>
  	<!-- FOOTER -->
	<Footer/>
</Layout>

<!-- JSON-LD SCHEMA-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "@id": "https://asciimoon.com/#website",
    "name": "ASCIIMoon",
    "url": "https://asciimoon.com/",
    "description": "ASCII Moon - view & cycle through The Moon's phases - rendered in ASCII art.",
    "keywords": "moon phases, ASCII moon, moon tracker, moon phase tracker, ASCII art, lunar phases, moon calendar, moon cycle, moon phase app, phase of the moon",
    "inLanguage": "en",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://asciimoon.com"
    },
    "sameAs": ["https://github.com/Sean-93/asciimoon"],
    "publisher": {
      "@type": "Organization",
      "@id": "https://asciimoon.com/#website",
      "name": "ASCIIMoon",
      "url": "https://asciimoon.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://asciimoon.com/asciimoon-logo.jpg",
        "width": 600,
        "height": 600
      }
    }
  }
</script>
