---
import ASCIIMoon from "../components/ASCIIMoon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ASCIIMoon Widget Version"
  description="Privacy Poilicy for ASCIIMoon"
  keywords=""
  canonicalURL="https://asciimoon.com/widget"
  robots="noindex, follow"
>
  <main>
    <ASCIIMoon />
  </main>
</Layout>
