---
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ASCIIMoon Widget Version</title>
</head>
<body>
<div style="display:flex; justify-content:flex-end; width:100%;">
  <img src="/asciimoon-logo.jpg" width="300" height="300" />
</div>

</body>
</html>