---

---

<footer>
  <br />
  <section class="footer-flex">
    <div><a href="/">Home &gt;</a></div>
    <br />
    <div><a href="/about">About &gt;</a></div>
    <br />
    <div>
      <a
        href="https://github.com/Sean-93/asciimoon"
        target="_blank"
        rel="noreferrer noopener">Repo/Source &gt;</a
      >
    </div>
    <br />
    <div><a href="/privacy-policy">Privacy Policy &gt;</a></div>
    <br />
    <div>
      <a
        href="https://www.buymeacoffee.com/seanrooney"
        target="_blank"
        rel="noreferrer noopener">☕️ Buy me a coffee</a
      >
    </div>
    <div>
      <p>© <span id="current-year"></span>&nbsp;<span>ASCIIMoon</span></p>
    </div>
  </section>
</footer>
<style>
  .footer-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 928px;
    background-color: var(--transparent-black-75);
  }

  br {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    .footer-flex {
      display: block;
    }
    br {
      display: block;
    }
  }
</style>
<script is:inline>
  // THIS IS FOR THE COPYRIGHT STATEMENT
  document.getElementById("current-year").innerHTML = new Date().getFullYear();
</script>
