---

---

<nav>
  <a href="/" class="logo-link" title="Go to Home Page"
    ><img
      src="/moon-favicon.png"
      alt="ASCII Moon Icon"
      style="margin-right: .5rem;"
      width="32px"
      height="32px"
    /><span>ASCIIMoon</span>
  </a>
</nav>
<style>
  nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 928px;
    background-color: var(--transparent-black-75);
    padding-top: 24px;
  }
  .logo-link {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--aqua);
    text-decoration: none !important;
    letter-spacing: -0.1rem;
    font-weight: 900;
  }
</style>
